<!DOCTYPE html >
<html>
    <head>
        <title>Test - #{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"></script>
    	<script src="@{'/public/javascripts/jquery.tools.min.js'}"></script>
    </head>
    <body>
        
        <div id="header">
            <h1>Test</h1>
        </div>
        
        <div id="main">
            #{doLayout /} 
        </div>
        
        <p id="footer">
            for TEST only
        </p>
        
    </body>
</html>